version: 2.1

orbs:
  docker-rpmbuild: aursu/rpmbuild@1.1.36

workflows:
  dockerrpmbuild:
    jobs:
      - docker-rpmbuild/image:
          name: rocky8base
          compose_file: 8-rocky/docker-compose.yml
          build_service: rocky8base
      - docker-rpmbuild/image:
          name: rocky9base
          compose_file: 9-rocky/docker-compose.yml
          build_service: rocky9base
      - docker-rpmbuild/image:
          name: rocky10base
          compose_file: 10-rocky/docker-compose.yml
          build_service: rocky10base
      - docker-rpmbuild/image:
          name: rocky9baseroot
          compose_file: 9-rocky/docker-compose.yml
          build_service: rocky9baseroot
      - docker-rpmbuild/image:
          name: rocky10baseroot
          compose_file: 10-rocky/docker-compose.yml
          build_service: rocky10baseroot
      - docker-rpmbuild/image:
          name: rocky9basesystemd
          compose_file: 9-rocky/docker-compose.systemd.yml
          build_service: rocky9basesystemd
      - docker-rpmbuild/image:
          name: rocky10basesystemd
          compose_file: 10-rocky/docker-compose.systemd.yml
          build_service: rocky10basesystemd
      - docker-rpmbuild/image:
          name: rocky9rpmb
          compose_file: 9-rocky/docker-compose.yml
          build_service: rocky9rpmb
          requires:
            - rocky9base
      - docker-rpmbuild/image:
          name: rocky10rpmb
          compose_file: 10-rocky/docker-compose.yml
          build_service: rocky10rpmb
          requires:
            - rocky10base
      - docker-rpmbuild/image:
          name: rocky9rpmbroot
          compose_file: 9-rocky/docker-compose.yml
          build_service: rocky9rpmbroot
          requires:
            - rocky9baseroot
      - docker-rpmbuild/image:
          name: rocky10rpmbroot
          compose_file: 10-rocky/docker-compose.yml
          build_service: rocky10rpmbroot
          requires:
            - rocky10baseroot
      - docker-rpmbuild/image:
          name: webrepo
          compose_file: webrepo/docker-compose.yml
          build_service: webrepo
          shorttag: false
      - docker-rpmbuild/image:
          name: rocky10repo
          compose_file: createrepo/docker-compose.yml
          build_service: rocky10repo
          shorttag: false
          requires:
            - rocky10base
      - docker-rpmbuild/image:
          name: rocky9build
          compose_file: 9-rocky/docker-compose.yml
          build_service: rocky9build
          requires:
            - rocky9rpmb
      - docker-rpmbuild/image:
          name: rocky10build
          compose_file: 10-rocky/docker-compose.yml
          build_service: rocky10build
          requires:
            - rocky10rpmb
      - docker-rpmbuild/image:
          name: rocky9docker
          compose_file: 9-rocky/docker-compose.yml
          build_service: rocky9docker
          requires:
            - rocky9rpmb
      - docker-rpmbuild/image:
          name: rocky10docker
          compose_file: 10-rocky/docker-compose.yml
          build_service: rocky10docker
          registry: ghcr.io
          context:
            - github-packages
          requires:
            - rocky10rpmb
      - docker-rpmbuild/image:
          name: rocky10docker2x
          compose_file: 10-rocky/docker-compose.yml
          build_service: rocky10docker2x
          registry: ghcr.io
          context:
            - github-packages
          requires:
            - rocky10docker
      - docker-rpmbuild/image:
          name: githubrunnerbase
          compose_file: github/docker-compose.yml
          build_service: githubrunnerbase
          registry: ghcr.io
          context:
            - github-packages
          requires:
            - rocky10docker2x
      - docker-rpmbuild/image:
          name: rocky9buildroot
          compose_file: 9-rocky/docker-compose.yml
          build_service: rocky9buildroot
          requires:
            - rocky9rpmbroot
      - docker-rpmbuild/image:
          name: rocky10buildroot
          compose_file: 10-rocky/docker-compose.yml
          build_service: rocky10buildroot
          requires:
            - rocky10rpmbroot
      - docker-rpmbuild/image:
          name: rocky9buildsystemd
          compose_file: 9-rocky/docker-compose.systemd.yml
          build_service: rocky9buildsystemd
          requires:
            - rocky9rpmbsystemd
      - docker-rpmbuild/image:
          name: rocky10buildsystemd
          compose_file: 10-rocky/docker-compose.systemd.yml
          build_service: rocky10buildsystemd
          requires:
            - rocky10rpmbsystemd
      - docker-rpmbuild/image:
          name: rocky9rpmbsystemd
          compose_file: 9-rocky/docker-compose.systemd.yml
          build_service: rocky9rpmbsystemd
          requires:
            - rocky9basesystemd
      - docker-rpmbuild/image:
          name: rocky10rpmbsystemd
          compose_file: 10-rocky/docker-compose.systemd.yml
          build_service: rocky10rpmbsystemd
          requires:
            - rocky10basesystemd
      - docker-rpmbuild/image:
          name: rocky8bintray
          compose_file: createrepo/docker-compose.yml
          build_service: rocky8bintray
          shorttag: false
          requires:
            - rocky8base
      - docker-rpmbuild/image:
          name: rocky8ftptray
          compose_file: createrepo/docker-compose.yml
          build_service: rocky8ftptray
          shorttag: false
          requires:
            - rocky8base
      - docker-rpmbuild/image:
          name: rocky10refresh
          compose_file: createrepo/docker-compose.yml
          build_service: rocky10refresh
          shorttag: false
          requires:
            - rocky10repo
      - docker-rpmbuild/image:
          name: ftprepo
          compose_file: ftprepo/docker-compose.yml
          build_service: ftprepo
          shorttag: false
          requires:
            - rocky10repo