services:
  rocky9basesystemd:
    build:
      context: base
      args:
        rocky: $RL9
        image: systemd
    image: "aursu/rpmbuild:${RL9TAG}-base-systemd"
  rocky9rpmbsystemd:
    build:
      context: build
      dockerfile: Dockerfile.rpmb
      args:
        repo: aursu/rpmbuild
        rocky: $RL9
        image: base-systemd
    image: "aursu/rpmbuild:${RL9TAG}-rpmb-systemd"
  rocky9buildsystemd:
    build:
      context: build
      args:
        rocky: $RL9
        image: rpmb-systemd
    image: "aursu/rpmbuild:${RL9TAG}-build-systemd"
  rocky9buildtest:
    networks:
      - buildnet
    privileged: true
    cgroup_parent: docker.slice
    tmpfs:
      - /run
      - /tmp
    image: "aursu/rpmbuild:${RL9TAG}-build-systemd"

networks:
  buildnet:
    name: buildnet
