services:
  rocky9base:
    build:
      context: base
      args:
        rocky: $RL9
    image: "ghcr.io/aursu/rpmbuild:${RL9TAG}-base"
  rocky9baseroot:
    build:
      context: base
      dockerfile: Dockerfile.root
      args:
        rocky: $RL9
    image: "aursu/rpmbuild:${RL9TAG}-base-root"
  rocky9rpmb:
    build:
      context: build
      dockerfile: Dockerfile.rpmb
      args:
        rocky: $RL9
    image: "ghcr.io/aursu/rpmbuild:${RL9TAG}-rpmb"
  rocky9docker:
    build:
      context: build
      dockerfile: Dockerfile.docker
      args:
        rocky: $RL9
        DOCKER_VERSION: $DOCKER
    image: "ghcr.io/aursu/rpmbuild:${RL9TAG}-docker"
  rocky9rpmbroot:
    build:
      context: build
      dockerfile: Dockerfile.rpmb
      args:
        repo: aursu/rpmbuild
        rocky: $RL9
        image: base-root
    image: "aursu/rpmbuild:${RL9TAG}-rpmb-root"
  rocky9build:
    build:
      context: build
      args:
        rocky: $RL9
    image: "aursu/rpmbuild:${RL9TAG}-build"
  rocky9buildroot:
    build:
      context: build
      args:
        rocky: $RL9
        image: rpmb-root
    image: "aursu/rpmbuild:${RL9TAG}-build-root"
  rocky9docker2x:
    build:
      context: build
      dockerfile: Dockerfile.docker
      args:
        rocky: $RL9
        DOCKER_VERSION: $DOCKER
    image: "ghcr.io/aursu/rpmbuild:${RL9TAG}-docker-${DOCKER}"
  githubrunner:
    build:
      context: github
      args:
        rocky: $RL9
        image: docker-${DOCKER}
        RUNNER_VERSION: $GITHUB_RUNNER_TAG
        RUNNER_CHECKSUM: $GITHUB_RUNNER_SHA256
    image: "ghcr.io/aursu/rockylinux:${RL9TAG}-actions-runner-${GITHUB_RUNNER_TAG}"
  rocky9repo:
    restart: always
    volumes:
      - rpm9rocky:/home/centos/rpmbuild/RPMS
    image: aursu/rpmbuild:createrepo
    environment:
      - DELAY_PERIOD=30

volumes:
  rpm9rocky:
    name: rpm9rocky
