services:
  githubjwt:
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-actions-runner-${GITHUB_RUNNER_TAG}"
    build:
      context: actions
      args:
        rocky: $RL10
        image: docker-${DOCKER}
        RUNNER_VERSION: $GITHUB_RUNNER_TAG
        RUNNER_CHECKSUM: $GITHUB_RUNNER_SHA256
    env_file:
      - secrets/jwt.env
      - secrets/github.env
    environment:
      - GITHUB_APP_KEY_PATH=/run/secrets/github_key
    secrets:
      - github_key
    command: /usr/local/runner/tok.py
  githubrunner:
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-actions-runner-${GITHUB_RUNNER_TAG}"
    command: /usr/local/runner/runner.py
    env_file:
      - secrets/jwt.env
      - secrets/github.env
    secrets:
      - github_key
    environment:
      RUNNER_NAME: github-actions-runner-5dcba36ba388
      DOCKER_TLS_CERTDIR: /certs
      DOCKER_CERT_PATH: /certs/client
      DOCKER_TLS_VERIFY: 1
      DOCKER_HOST: tcp://localhost:2376
      GITHUB_APP_KEY_PATH: /run/secrets/github_key
    volumes:
      - githubrunner:/home/runner
      - /etc/docker/certs.d:/etc/docker/certs.d
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/docker/tls:/certs/client

volumes:
  githubrunner:
    name: githubrunner

secrets:
  github_key:
    file: ./secrets/private-key.pem