services:
  githubrunnerbase:
    build:
      context: actions
      args:
        rocky: $RL10
        RUNNER_VERSION: $GITHUB_RUNNER_TAG
        RUNNER_CHECKSUM: $GITHUB_RUNNER_SHA256
    image: "aursu/rockylinux:${RL10TAG}-actions-runner-${GITHUB_RUNNER_TAG}"
  githubrunnerconfig:
    build:
      context: actions
      dockerfile: Dockerfile.config
      args:
        rocky: $RL10
        RUNNER_VERSION: $GITHUB_RUNNER_TAG
    env_file:
      - secrets/github.env
    volumes:
      - githubrunner:/home/runner
  githubrunnerdelete:
    build:
      context: actions
      dockerfile: Dockerfile.delete
      args:
        rocky: $RL10
        RUNNER_VERSION: $GITHUB_RUNNER_TAG
    env_file:
      - secrets/github.env
    volumes:
      - githubrunner:/home/runner
  githubrunner:
    build:
      context: actions
      dockerfile: Dockerfile.run
      args:
        rocky: $RL10
        RUNNER_VERSION: $GITHUB_RUNNER_TAG
    environment:
      DOCKER_TLS_CERTDIR: /certs
      DOCKER_CERT_PATH: /certs/client
      DOCKER_TLS_VERIFY: 1
      DOCKER_HOST: tcp://localhost:2376
    volumes:
      - githubrunner:/home/runner
      - /etc/docker/certs.d:/etc/docker/certs.d
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/docker/tls:/certs/client

volumes:
  githubrunner:
    name: githubrunner
