name: Packages cleanup
on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight
  workflow_dispatch: # Allows manual trigger

permissions:
  packages: write

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Delete untagged images
        uses: actions/delete-package-versions@v5
        with:
          package-name: 'rpmbuild'
          package-type: 'container'
          min-versions-to-keep: 0
          delete-only-untagged-versions: 'true'
